header{
width:200px;
padding:0 0 0 128px;
background-image:url(logo.png);
background-repeat:no-repeat;
background-size:128px;
}

html {
  font-family: 'Ubuntu', sans-serif;
}

header{
display:flex;
}
nav{
display:block;
}
nav ul {
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-weight: bold;
}
nav li {
    width: 25%;
    float: left;
    position: relative;

}
nav li a {
    display: block;
    line-height: 10px;
    text-decoration: none;
}

body{
    background-color:#bcd2e0;
    background: #dfdfdf;
    margin:0;
    padding:0;
}


.center {
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:20%;
}

h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:35%;
}
h1,h3,h4,h5,h6{
    font-family: 'Ubuntu Condensed', sans-serif;
}

h1{
color:#5dc1b9;
text-shadow:2px 2px #000000;
text-align:center;
text-decoration:underline;
}
ul{
border:20px inset #2d572c;
background-color-size:#2d572c;
}
li{
color:#00ff00;
}
a{
color:white;
text-decoration:none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

form{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 16px;
}

label, input{
    margin-top: 16px;
}

label i{
    margin-right: 8px;
}

input{
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

input:focus{
    outline: none;
    border-bottom: 1px solid #2196F3;
}

button{
    margin-top: 16px;
    padding: 8px 16px;
    border: none;
    background-color: #2196F3;
    color: #fff;
    font-size: 16px;
    font-family: 'Ubuntu Condensed', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #0d8bf2;
}

#footer{
	bottom:0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	border:3px solid green;
}
.column {
  float: left;
  height: 300px;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.centerimage {
	display: block;ยก
	width:20%;
}